* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;
    height: 100vh;
}

.navbar {
    width: 100vw;
    height: 10vh;
    background-color: rgb(30, 7, 59);
    color: white;
}

.navbar ul {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.wrapper {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.name-animation {
    width: 11ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 1rem solid;
}

@keyframes typing {
    from {
        width: 0;
    }
}
    
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.wrapper span, .name-animation {
    font-size: 3rem;
    font-family: monospace;
}

.description {
    background-color: rgb(219, 255, 247);
    padding: 3rem 1rem;
    font-size: 1.1rem;
    text-align: center;
    font-size: 1.5rem;
}

.description a {
    text-decoration: none;
    color: rgb(197, 24, 24);
    font-weight: 600;
    cursor: pointer;
}

.projects {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c8dcf0;
}

.project-node {
    background-color: #fff;
    width: 100%;
    margin-bottom: 2rem;
    min-height: 50vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 2px 2px 15px 9px rgba(113,147,150,0.76); 
    box-shadow: 2px 2px 15px 9px rgba(113,147,150,0.76);
    border-radius: .3rem;
}

.project-title {
    font-size: 1.7rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.tag-list {
    padding: 1.5rem 0 1rem;
    display: flex;
    flex-wrap: wrap;
}

.tag-list li {
    border: 2px solid rgb(28, 187, 107);
    border-radius: .5rem;
    background-color: white;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.project-node a {
    margin: 1rem 0;
    padding: .7rem 1rem;
    width: 65%;
    border-radius: .5rem;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.project-node a i {
    padding-left: 1rem;
}

.project-demo {
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 2px rgba(126,52,130,0.9); 
    box-shadow: 0px 0px 3px 2px rgba(126,52,130,0.9);
    color: purple;
}

.project-source {
    background-color: purple;
    color: white;
}

.about-container {
    background-color: rgb(252, 200, 200);
    padding: 1rem;
}

.about-header {
    height: 2rem;
    background-color: #e4e3e5;
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-button {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-left: .7rem;
}

.red {
    background-color: #f96256;
    border: 1px solid #f65549;
}

.yellow {
    background-color: #fdbc3d;
    border: 1px solid #ffb524;
}

.green {
    background-color: #33c948;
    border: 1px solid #2dbb41;
}

.about-body {
    background-color: black;
    border-radius: 0 0 .4rem .4rem;
    padding: 2rem;
    box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
    /* remove this in the future, its just for preview */

    font-family: 'Inconsolata', monospace;
}

.statement {
    line-height: 2rem;
}

.input-statement {
    color: #f7f7f7;
}

.return-statement {
    color: #e7d184;
}

.keyword {
    color: rgb(46, 46, 179);
}

.variable {
    color: rgb(70, 70, 248);
}

.white {
    color: white;
}

.bracket {
    color: yellow;
}

.property {
    color: rgb(124, 186, 236);
}

.array-bracket {
    color: rgb(223, 61, 61);
}
.return-statement {
    padding-left: 1rem;
}

.contact {
    background-color: rgb(230, 230, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.contact i {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.contact-title {
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.contact span {
    padding-left: .5rem;
}

a {
    text-decoration: none;
    color: unset;
}